# Entornos virtuales
.venv/
venv/
ENV/
env/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# Modelos entrenados (opcional, si son muy pesados)
# *.pkl

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

